.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.banner {
  background-color: teal;
  height: 95vh
}

.welcome {
  color: teal;
  padding: 50px;
  text-align: center;
}

.choose {
  text-align: center;
  color: teal;
  padding: 10px;
}
.text {
  text-align: center;
  padding: 150px;
  color: aliceblue;
}